/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono
Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem
Colour scheme
**************************************************/
@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
    line-height: 1.6;
    font-family: bitter, helvetica, arial, sans-serif;
    background: #803971;
}
/***************************
DEFAULTS - MOBILE FIRST
***************************/
header{
    height: 30vh;
}
#picture{
    background: #09304e;
    width: 100%;
    height: 100%;
}
#title{
    text-align: center;
    color: #FFFFFF;
    padding-top: 10vh;
}
#job{
    text-align: center;
    color: #FFFFFF;
}
#crop{
    margin-top: -10vh;
    margin-left: 10vw;
    height: 20vh;
    width: 25vh;
    overflow: hidden;
    position: absolute;
    border-radius: 2px;
}
#Riley{
    background: url("../img/IMG_1500.png");
    left: -2.5vh;
    position: relative;
    height: 20vh;
    width: 30vh;
}
#content{
    margin-top: 15vh;
}
.construction{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}
main{
    align-content: center;
}
li, p, a{
    font: bold 1.618rem 'Droid Sans', sans-serif;
}
/***************************
    LAYOUT - MOBILE FIRST
***************************/




/********************First Media Query********************/


@media screen and (min-width:950px){
    html{
        background: #FFFFFF;
    }
    header{
        height: 40vh;
    }
    #picture{
        background: url("https://picsum.photos/g/1280/720?image=166");
        width: 100%;
        height: 100%;
    }
    #title{
        padding-top: 10vh;
    }
    #job{

    }
    .construction{
        color: black;
    }
}


/********************Second Media Query********************/


@media screen and (min-width: 1200px){

}
