/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono
Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem
Colour scheme
**************************************************/
@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 1rem;
    line-height: 1.6;
    font-family: bitter, helvetica, arial, sans-serif;
}
/***************************
DEFAULTS - MOBILE FIRST
***************************/
header{
    height: 25vh;
    background: #1B2930;
    opacity: 0.9;
}
#picture{
    background-image: url("../img/mavis-cw-195485-unsplash.jpg");
    background-size: 100vh;
    background-position: center top;
    position: fixed;
    width: 100%;
    height: 180vh;
}
#title{
    text-align: center;
    color: #f7ce3e;
    padding-top: 7vh;
    font-size: 2em;
}
#job{
    text-align: center;
    color: #ffffff;
}
#crop{
    margin-left: 50vw;
    height: 20vh;
    width: 25vh;
    overflow: hidden;
    position: absolute;
    border-radius: 2px;
}
#Riley{
    background: url("../img/IMG_1500.png");
    left: -2.5vh;
    position: relative;
    height: 20vh;
    width: 30vh;
}
#content{
    padding-top: 10vh;
    padding: 5vw;
    height: 40vh;
}
.col{
    width:100%;
    display: inline-block;
    float: left;
}
.card{
    width: 90%;
    margin-left: 5%;
    background: #1B2930;
    opacity: 0.9;
    margin-bottom: 15px;
    padding: 5px;
    position: relative;
}
.header{
    width: 100%;
    color: #f7ce3e;
    border-bottom:#1B2930 solid 4px;
    text-align: center;
    font-size: 2.5em;
    line-height: 1.4;
    margin-bottom: 5px;
}
.content{
    color: #ffffff;
    text-align: left;
    font-size: 1em;
    margin-bottom: 5px;
    list-style: none;
    margin-left: 5px;
    line-height: 1.8;
}
#contact{
    height:15vh;
}
.contact{
    display: inline;
    font-size: 0.8em;
    color: #ffffff;
    width: 47%;
    float: left;
    text-align: center;
}
.star{
    color: gold;
    text-align: left;
    float: right;
    margin-right: 10px;
}
main{
    align-content: center;
}
li, p, a{
    font: bold 1.618rem 'Droid Sans', sans-serif;
}
footer{
    position: absolute;
    bottom: -70vh;
}
/***************************
    LAYOUT - MOBILE FIRST
***************************/

@media screen and (min-width:600px){
    #title{
        font-size: 4em;
    }
    #job{
        font-size: 2em;
    }

}


/********************First Media Query********************/


@media screen and (min-width:950px){
    header{
        height: 35vh;
        width: 100%;
        position: relative;
    }
    #picture{
        background-size: 100%;
        background-position: center;
        box-shadow: 1px 6px 18px 1px #222222;
        width: 100%;
        height: 100vh;
    }
    #title{
        padding-top: 5vh;
        font-size: 6em;
        opacity: 1;
    }
    #job{
        font-size: 2.5em;
    }
    #content{
        margin: auto;
        width: 100%;
        height: 40vh;
    }
    #contact{
        margin-left: 2.5%;
        width:93%;
    }
    .card{
        min-height: 20vh;
    }
    .col{
        width: 49%;
        height: 60vh;
    }
    .content{
        margin-left: 35px;
    }
    #qualifications{
        margin-left: 20px;
    }
    #col2 p{
        margin-left: 35px;
    }
    #col2 a{
        margin-left: 35px;
    }
    .contact{
        font-size: 1.8em;
    }
    .star{
        margin-right: 65px;
    }
}


